body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px red;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
